{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/style.css' %}">
    <script src="{% static 'dist/js/jquery-3.4.1.min.js' %}"></script>
    <title>Trello</title>
</head>
<body>

{% block content %}
{% endblock %}

    <!-- js -->
    <script src="{% static 'dist/js/popper.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/app/script.js' %}"></script>
</body>
</html>