{% extends 'app/base.html' %}

{% block content %}

<h2>{{ board.title }}</h2>
<ul>
    <li></li>
</ul>
<a class="btn btn btn-light add-post-button" role="button" href="{% url 'list_new' board.id %}" class="top-menu">Add list</a>

<ul class="li-right">
    {% for list in board_list %}
    <li class="board_lists" data-id="{{ list.id }}">{{list.title}}</li>
        <!-- {% for card in card_views %}
            {% if list.id == card.boardList.id %}
                <ul>
                    <li>{{card.title}}</li>
                </ul>
            {% endif %}
        {% endfor%} -->
        <a class="btn btn btn-light add-post-button" role="button" href="{% url 'card_new' list.id %}" class="top-menu">Add Card</a>
    {% endfor %}
</ul>
{% endblock %}