
{% for card in cards %}
<li>
    <div class="btn-group">
        <!-- Display List -->
        <button type="button" class="btn btn-light" id="card{{ card.id }}" data-toggle="modal" data-target="#viewCardModal" data-remote="{% url 'show_cards' card.id %}">{{card.title}}</button>
        <button type="button" class="btn btn-light fa fa-ellipsis-h" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'delete_card' card.id %}">Delete</a>
            <a class="dropdown-item" href="{% url 'card_edit' card.id %}">Edit</a>
        </div>
    </div>
</li>
  
{% empty %}
<span>No cards</span>
{% endfor %}

