{% extends 'app/base.html' %}

{% block content %}
<section>
    
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-inline left-menu-li">
                    <li ><button type="button" class="btn btn-light">Boards</button></li>
                    <li ><button type="button" class="btn btn-light">Templates</button></li>
                    <li ><button type="button" class="btn btn-light">Home</button></li>
                </ul>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-2">
                <ul class="list-inline right-menu-li">
                    {% for board in boards %}
                    <li><a class="btn btn-light" href="{% url 'board_view' id=board.id %}">{{ board.title }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="list-inline right-menu-li">
                    <li><a class="btn btn-light add-post-button" role="button" href="{% url 'board_new' %}" class="top-menu">Add Board</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}