{% extends 'app/base.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 login-box">
                <h2 class="text-center">Login User</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        {{form.password}}
                    </div>
                    <div class="mb-2">
                        <a href="{% url 'signup' %}">Sign up</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} mt-3" {% endif %}>
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}